<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./q3_2.css">
    <title>Webpage-2</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h1>Product 1</h1>
                </div>
                <div class="card-body">
                    <p>Some info about product 1</p>
                    <p>List Item 1</p>
                    <hr>
                    <p>List Item 2</p>
                    <hr>
                    <p>List Item 3</p>
                    <h2>2500 LKR</h2>
                    <a href="#" class="btn">Buy Now <img src="https://emojipedia-us.s3.amazonaws.com/source/skype/289/check-mark_2714-fe0f.png" class="checkmark"></a>
                </div>
            </div>
            <div class="card" id="highlight">
                <div class="card-header">
                    <h1>Product 2</h1>
                </div>
                <div class="card-body">
                    <p>Some info about product 2</p>
                    <p>List Item 1</p>
                    <hr>
                    <p>List Item 2</p>
                    <hr>
                    <p>List Item 3</p>
                    <h2>5000 LKR</h2>
                    <a href="#" class="btn" style="background-color: black; color: white;margin-bottom: 30px;">Buy Now <img src="https://emojipedia-us.s3.amazonaws.com/source/skype/289/check-mark_2714-fe0f.png" class="checkmark"></a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h1>Product 3</h1>
                </div>
                <div class="card-body">
                    <p>Some info about product 3</p>
                    <p>List Item 1</p>
                    <hr>
                    <p>List Item 2</p>
                    <hr>
                    <p>List Item 3</p>
                    <h2>7500 LKR</h2>
                    <a href="#" class="btn">Buy Now <img src="https://emojipedia-us.s3.amazonaws.com/source/skype/289/check-mark_2714-fe0f.png" class="checkmark"></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
